<section class="reviews-section text-center pb-100">
    @*<div class="container">
        <h3 class="mb-5"><span class="block-headings text-primary font-weight-bold font-xxl">Reviews</span></h3>
        <p class="mb-5">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
        <div class="user-reviews">
            <div class="owl-carousel owl-theme" id="reviewSlider">
                <div class="item">
                    <div class="review review-bg-1">
                        <p>I was stressed about moving day until the guys arrived - they were so effcient, capable and friendly that I had zero qualms about the move. The team in the office are also very happy to help with queries you have and are lovely. Definitely recommend.</p>
                        <p class="mb-0 text-success">Mrs Graeme-Baker</p>
                        <p class="text-success">Melbourne - November 2017</p>
                        <div class="trust-pilot mt-4">
                            <img src="~/Content/images/trust-pilot.png"  alt="TRUSTPILOT"/>
                        </div>
                    </div>
                </div>
                <div class="item">
                    <div class="review review-bg-2">
                        <p>A professional service from start to finish. Good communication throughout. The packing team were punctual, polite and friendly.</p>
                        <p class="mb-0 text-success">Mrs Collins</p>
                        <p class="text-success">Connecticut - November 2017</p>
                        <div class="trust-pilot mt-4">
                            <img src="~/Content/images/trust-pilot.png" alt="TRUSTPILOT" />
                        </div>
                    </div>
                </div>
                <div class="item">
                    <div class="review review-bg-3">
                        <p>Anglo Pacific in Glasgow are brillient freight movers. They've helped two of my sisters and me move things to the US, the UK and Australia. Pat, Raymood and manager Coin are kind and helpful, careful in packing, fantastic in meeting deadlines...</p>
                        <p class="mb-0 text-success">Mr Alansari</p>
                        <p class="text-success">North Carolina - June 2017</p>
                        <div class="trust-pilot mt-4">
                            <img src="~/Content/images/trust-pilot.png" alt="TRUSTPILOT" />
                        </div>
                    </div>
                </div>
                <div class="item">
                    <div class="review review-bg-1">
                        <p>I was stressed about moving day until the guys arrived - they were so effcient, capable and friendly that I had zero qualms about the move. The team in the office are also very happy to help with queries you have and are lovely. Definitely recommend.</p>
                        <p class="mb-0 text-success">Mrs Graeme-Baker</p>
                        <p class="text-success">Melbourne - November 2017</p>
                        <div class="trust-pilot mt-4">
                            <img src="~/Content/images/trust-pilot.png" alt="TRUSTPILOT" />
                        </div>
                    </div>
                </div>
                <div class="item">
                    <div class="review review-bg-2">
                        <p>A professional service from start to finish. Good communication throughout. The packing team were punctual, polite and friendly.</p>
                        <p class="mb-0 text-success">Mrs Collins</p>
                        <p class="text-success">Connecticut - November 2017</p>
                        <div class="trust-pilot mt-4">
                            <img src="~/Content/images/trust-pilot.png" alt="TRUSTPILOT" />
                        </div>
                    </div>
                </div>
                <div class="item">
                    <div class="review review-bg-3">
                        <p>Anglo Pacific in Glasgow are brillient freight movers. They've helped two of my sisters and me move things to the US, the UK and Australia. Pat, Raymood and manager Coin are kind and helpful, careful in packing, fantastic in meeting deadlines...</p>
                        <p class="mb-0 text-success">Mr Alansari</p>
                        <p class="text-success">North Carolina - June 2017</p>
                        <div class="trust-pilot mt-4">
                            <img src="~/Content/images/trust-pilot.png" alt="TRUSTPILOT" />
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="clearfix"></div>
        <div class="row">
            <div class="col-12 mt-5 text-center">
                <button class="btn btn-warning btn-lg rounded-pill">Read More...</button>
            </div>
        </div>
    </div>*@
</section>
<footer class="footer pb-0">
    <div class="container">
        <div class="row">
            <div class="col-sm-auto">
                <img src="~/Content/images/logos.png" />

                @*<img src="@Url.Content("~/Content/img/logo.png")" alt="ANGLO PACIFIC" width="100">*@
            </div>
            <div class="col-sm">
                <div class="row">
                    <div class="col-md-6">
                        <p><b>Pickfords is located at.</b></p>
                        <ul class="footer-location">
                            <li><a href="#"><i class="bx bx-map text-success"></i>Genesis House, Kings Langley, WD4 8LZ</a></li>
                            @*<li><a href="#"><i class="bx bx-map text-success"></i>Unit 5, 7 The Furrows, Trffaord Park, Manchester M32 0SZ</a></li>
                            <li><a href="#"><i class="bx bx-map text-success"></i>Hornal Road, Bothwell Park Industrial Estate, Uddingston, Glasgow G71 7EE</a></li>*@
                        </ul>
                    </div>
                    <div class="col-md-6">
                        <div class="row">
                            <div class="col-sm">
                                <div class="row">
                                    <div class="col-6">
                                        <ul class="quick-links">
                                            <li><a href="#">About</a></li>
                                            <li><a href="#">Careers</a></li>
                                            <li><a href="#">FAQ</a></li>
                                            <li><a href="#">Get a quote</a></li>
                                        </ul>
                                    </div>
                                    <div class="col-6">
                                        <ul class="quick-links">
                                            <li><a href="#">Where we are</a></li>
                                            <li><a href="#">Contacts</a></li>
                                            <li><a href="#">News</a></li>
                                            <li><a href="#">Newsletter</a></li>
                                            <li><a href="#">Sitemap</a></li>
                                        </ul>
                                    </div>
                                </div>
                            </div>
                            <div class="col-sm-auto">
                                <p><b>Contact Us</b></p>
                                <ul class="footer-contact">
                                    <li><i class="bx bx-phone text-success"></i>Tel: <a href="tel:02089651234">0800 019 8556</a></li>
                                    @*<li><i class="bx bx-printer text-success"></i>Fax: <a href="#">020 8965 4954</a></li>*@
                                    <li><i class="bx bx-envelope text-success"></i>E-mail: <a href="enquiries@pickfords.com">enquiries@pickfords.com</a></li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-12 mt-5 py-5 border-top">
                <div class="row">
                    <div class="col-md">
                        @*<p>Anglo pacific International PIc, active as agent for The Movers Trading Club are fully licenced, bonded and OTI registered by the OTI organization number 013636.</p>*@
                        <p>&copy; Pickfords Registered No. 8044368 Pickfords Move Management Limited trading as Pickfords.</p>
                    </div>
                    <div class="col-md-auto">
                        <ul class="footer-social">
                            <li><a href="#"><i class="bx bxl-facebook"></i></a></li>
                            <li><a href="#"><i class="bx bxl-instagram"></i></a></li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="footer-bottom">
        <div class="container">
            <div class="row justify-content-between align-items-center">
                <div class="col-auto">
                    <span class="text-uppercase text-success"><b>Call us <a href="tel:0000000" class="text-warning">00.00.000</a></b></span>
                </div>
                <div class="col-auto">
                    <ul class="footer-links">
                        <li><a href="#">T&amp;C</a></li>
                        <li>|</li>
                        <li><a href="#">Legals</a></li>
                        <li>|</li>
                        <li><a href="#">Privacy Policy</a></li>
                        <li>|</li>
                        <li><a href="#">Cookie Policy</a></li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</footer>
