<div class="page-breadcrumb text-center font-nr mb-2">
    <ul>
        @*@Html.GenerateMenu()*@

        <li><a href="#">Home</a></li>
        <li><a href="#">Quote</a></li>
        <li><a href="#">Vehicle shipping</a></li>
    </ul>
</div>
