################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/QuoteCalculator/bin
/QuoteCalculator/obj/Debug
/QuoteCalculator/obj/Release
/QuoteCalculatorAdmin/obj/Release
/.vs
/packages/Microsoft.Bcl.AsyncInterfaces.1.1.0
/packages/Microsoft.Extensions.Configuration.3.1.5
/QuoteCalculatorAdmin/bin
/QuoteCalculatorAdmin/obj/Debug/TempPE
/QuoteCalculatorAdmin/Uploads
/QuoteCalculator/logs/archives
/Admin_Publish/bin
/Admin_Publish
/QuoteCalculator/Uploads
/Web_Publish
/packages
/QuoteCalculator.Service/bin/Release
/QuoteCalculator.Service/obj/Release
/QuoteCalculator.Service/obj/Debug
QuoteCalculator.Service/obj/Debug/DesignTimeResolveAssemblyReferencesInput.cache
QuoteCalculator.Service/obj/Debug/QuoteCalculator.Service.csproj.AssemblyReference.cache
QuoteCalculatorAdmin/obj/Debug/DesignTimeResolveAssemblyReferencesInput.cache
QuoteCalculatorAdmin/obj/Debug/QuoteCalculatorAdmin.csproj.AssemblyReference.cache
*.cache
*.dll
*.pdb
*.cache
*.pdb
QuoteCalculator.Service/bin/Debug/QuoteCalculator.Service.dll
QuoteCalculator.Service/bin/Debug/QuoteCalculator.Service.pdb
QuoteCalculator.Service/obj/Debug/DesignTimeResolveAssemblyReferencesInput.cache
QuoteCalculator.Service/obj/Debug/QuoteCalculator.Service.csproj.AssemblyReference.cache
QuoteCalculator.Service/obj/Debug/QuoteCalculator.Service.csproj.CoreCompileInputs.cache
QuoteCalculator.Service/obj/Debug/QuoteCalculator.Service.csproj.FileListAbsolute.txt
QuoteCalculator.Service/obj/Debug/QuoteCalculator.Service.dll
QuoteCalculator.Service/obj/Debug/QuoteCalculator.Service.pdb
QuoteCalculator/obj/Debug/QuoteCalculator.csproj.FileListAbsolute.txt
QuoteCalculatorAdmin/bin/EntityFramework.SqlServer.xml
QuoteCalculatorAdmin/bin/EntityFramework.xml
QuoteCalculatorAdmin/bin/QuoteCalculatorAdmin.dll
QuoteCalculatorAdmin/bin/QuoteCalculatorAdmin.dll.config
QuoteCalculatorAdmin/bin/QuoteCalculatorAdmin.pdb
QuoteCalculatorAdmin/obj/Debug/DesignTimeResolveAssemblyReferencesInput.cache
QuoteCalculatorAdmin/obj/Debug/QuoteCalculatorAdmin.csproj.AssemblyReference.cache
QuoteCalculatorAdmin/obj/Debug/QuoteCalculatorAdmin.csproj.CoreCompileInputs.cache
QuoteCalculatorAdmin/obj/Debug/QuoteCalculatorAdmin.csproj.FileListAbsolute.txt
QuoteCalculatorAdmin/obj/Debug/QuoteCalculatorAdmin.csproj.GenerateResource.cache
QuoteCalculatorAdmin/obj/Debug/QuoteCalculatorAdmin.dll
QuoteCalculatorAdmin/obj/Debug/QuoteCalculatorAdmin.pdb
QuoteCalculatorAdmin/QuoteCalculatorAdmin.csproj.user
QuoteCalculator.Service/obj/Debug/DesignTimeResolveAssemblyReferencesInput.cache
*.cache
*.dll
/.sonarqube
/QuoteCalculatorAdmin/logs/archives
/QuoteCalculatorAdmin/logs
