@model List<QuoteCalculatorAdmin.Models.OptOutResult>
@{
    ViewBag.Title = "Index";
}
@*<script src="https://cdn.datatables.net/plug-ins/1.13.5/pagination/input.js"></script>*@

<div class="card">
    <div class="card-header">
        <h5 class="card-title mb-0"> Opt Out</h5>
    </div>
    <div class="card-body">
        <div class="row">
            <div class="col-sm-12">
                <table id="tbloptOutList" class="table dataTable nowrap" width="100%">
                    <thead>
                        <tr>
                            <th scope="col">Email</th>
                            <th scope="col">Is Opt Out</th>
                            <th scope="col">Action</th>
                        </tr>
                    </thead>
                </table>
            </div>
        </div>
    </div>
</div>
<script>
    $(document).ready(function () {
        $("#menu_OptOut").addClass("active");
        BindoptOutList();
    });

    function BindoptOutList() {
        var OptOutListTbl = $('#tbloptOutList').DataTable();
        try {
            if (OptOutListTbl != 'undefined') {
                OptOutListTbl.destroy();
            }
            OptOutListTbl = $('#tbloptOutList').DataTable({
                colReorder: {
                    enable: false
                },
                serverSide: true,
                language: {
                    'processing': '<div class="loader"></div>'
                },
                ajax: {
                    url: encodeURI('@Url.Action("GetOptOutList", "OptOut")'),
                    type: 'POST',
                    //data: function (d) {
                    //    d.OptOut = 10;
                    //}
                },
                "lengthMenu": [10, 20,50, 100, 200, 500],
                "pageLength": 10,
                //"pagingType": "input",
                "order": [],
                //dom: 'Blfrtip',
                "bFilter": true,
                "aoColumns": [
                    {
                        "mData": "Email",
                        "className": "text-left"
                    },
                    {
                        "mData": "IsOptOut",
                        "className": "text-left ",
                        "render": function (data, type, row, meta) {
                            if (row.IsOptOut) {
                                return "Yes";
                            }
                            else {
                                return "No";
                            }
                        }
                    },
                    {
                        "mData": "Id",
                        "bSortable": false,
                        "className": "dt-center",
                        "render": function (data, type, row, meta) {
                            let ActionButton = '', IsOptOutTitle = row.IsOptOut ? 'Opt In' : 'Opt Out';
                            const iClass = row.IsOptOut ? 'fa-solid fa-check fa-xl text-success' : 'fa-solid fa-xmark fa-xl  text-danger';
                            ActionButton = '<a title="' + IsOptOutTitle + '" href="javascript:void(0)" onclick="OptInOut(\'' + row.Email + '\', ' + row.IsOptOut + ');" class="btn btn-link btn-sm px-1" ><i class="' + iClass + '"></i></a>';
                            return ActionButton;
                        }
                    }
                ]
            });
            $(".dataTables_length").css('clear', 'none');
            $(".dataTables_length").css('margin-right', '20px');
            $(".dataTables_info").css('clear', 'none');
            $(".dataTables_info").css('padding', '0');
        }
        catch (e) {
            alert(e.message);
        }
    }

    function OptInOut(Email, IsOptOut) {
        const Msg = IsOptOut ? 'Deactivate' : 'Activate';
        bootbox.confirm({
            message: "Are You Sure You Want To " + Msg + " Opt Out?",
            buttons: {
                cancel: {
                    label: "No",
                    className: "btn-cancel min-auto cancel"
                },
                confirm: {
                    label: "Yes",
                    className: "btn-warning min-auto confirm"
                }
            },
            callback: function (result) {
                if (result) {
                    $.ajax({
                        url: '@Url.Action("ChangeStatus", "OptOut")',
                        type: "GET",
                        data: {
                            Email: Email
                        },
                        success: function (data) {
                            if (data && data.IsSuccess) {
                                BindoptOutList();
                                toastr.success(data.Message);
                            }
                            else {
                                toastr.error(data.Message);
                            }
                        }
                    });
                }

            }
        });
    }
</script>