<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <title></title>
</head>
<body>
    <table>
        <tr>
            <H4>Welcome to Pickfords!</H4>

            Here is your Access Code:
            <b>[@OTP]</b>
            <br />
            <br />

            Please click here to view
            <a target="_blank" href="[@href]">My Quotes</a>.
            <br />
            <br />

            Thank you
            <br />
            <br />

            Pickfords
            <br />
            <br />
            www.pickfords.co.uk

        </tr>
    </table>
</body>
</html>