<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <title></title>
</head>
<body>
    <table>
        [@template]
        <!--  <tr>
             <td>EmailAddress :</td>
             <td>[@emailAddress]</td>
         </tr>
         <tr>
             <td></td>
             <td>[@todayEmail] today  [@totalEmail] total</td>
         </tr>
         <tr>
             <td></td>
             <td>Status: Warn</td>
         </tr>
         <tr>
             <td>Ip address :</td>
             <td>192.168.1.39</td>
         </tr>
         <tr>
             <td></td>
             <td>[@todayIp] today [@totalIp] total</td>
         </tr>
         <tr>
             <td></td>
             <td>Status: Warn</td>
         </tr>-->
    </table>

    <div>
        <table>
            [@statusLink]
            <!--<tr>
                <td>To set status for email address</td>
                <td><p>[@emailStatusLink]</p></td>
            </tr>
            <tr>
                <td>
                    To set status for IP address:
                </td>
                <td><p>[@ipStatusLink]</p></td>
            </tr>-->
        </table>
    </div>

</body>
</html>