
@{
    ViewBag.Title = "ThankYou";
}
<div class="page-breadcrumb text-center font-nr mb-2">
    <ul>
        <li><a href="@Url.Action("Index","Home")">Home</a></li>
        <li><a href="#">Get a quote</a></li>
        <li><a href="#">Your international move</a></li>
        <li><a href="#">Move details</a></li>
        <li><a href="#">Removal service selection</a></li>
        <li><a href="#">Home Survey</a></li>
    </ul>
</div>
<h1 class="text-primary text-center mb-4"><b>Free home survey</b></h1>
<d@*iv class="col-12">
    <p>Quote Number: <span class="text-success">AP3172013/1</span></p>
</di*@v>
<h5>Thank you for your enquiry. We will contact you to arrange a suitable date and time for a free home survey and quotation without obligation.</h5>

