<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <title></title>
</head>
<body>
    <table>
        <tr>
            <H4>Welcome to Anglo Pacific!</H4>

            Here is your Access Code:
            <b>[@OTP]</b>
            <br />
            <br />

            Please click here to view
            <a target="_blank" href="https://quotes.anglopacific.co.uk/myquote">My Quotes</a>.
            <br />
            <br />

            Thank you
            <br />
            <br />

            Anglo Pacific
            <br />
            <br />
            •	LON: 0800 234 6190 | vehicles@anglopacific.co.uk<br />
            •	GLA: 0141 764 1010 | scotland@anglopacific.co.uk<br />
            •	MAN: 0161 653 4455 | north@anglopacific.co.uk<br /><br />
            www.anglopacific.co.uk

        </tr>
    </table>
</body>
</html>