body {
    background-color:#eee;
}
a {
    color: #254899;
}
.navbar {
    background-color: #254899 !important;
}
.navbar-brand{
    margin:5px auto;
    display:table
}
.navbar-toggler-icon {
    color: #fff;
}
.dropdown-item:hover a {
    color: #fff;
    text-decoration: none;
    background-color: #254899;
}
.dropdown-item:focus, 
.dropdown-item:hover {
    color: #fff;
    text-decoration: none;
    background-color: #254899;
}
.nav-link {
    color: #fff !important;
}
.nav-item i {
    margin-right: 10px;
    vertical-align: middle;
}
.custom-bg {
    background-color: #254899;
}
.card-header{
    background-color:#fff;
}

.btn-outline-warning {
    border-color: #e36b0a;
    color: #e36b0a;
}
.btn-outline-warning:hover {
    border-color: #e36b0a;
    color: #e36b0a;
    background-color: #e36b0a;
}
.btn-delete {
    color: #ff4a4a;
}
.margin-bottom5{
    margin-bottom:5rem!important;
}
footer {
    position: fixed;
    bottom: 0px;
    width: 100%;
    z-index:9;
}
.page-item.active .page-link {
    z-index: 3;
    color: #fff;
    background-color: #e36b0a;
    border-color: #e36b0a;
}
.page-link {
    color: #e36b0a;
}
.page-link:focus{
    box-shadow: 0 0 0 0.2rem rgb(227 107 10 / 34%);
}






/*table.dataTable.nowrap td {
    white-space: pre-wrap!important;
}*/
.selectCountry .dropdown-toggle {
    background-color: #fff;
    background-clip: padding-box;
    border: 1px solid #ced4da;
    border-radius: 0.25rem;
    transition: border-color .15s ease-in-out,box-shadow .15s ease-in-out;
}
.bootstrap-select .selectCountry .dropdown-toggle:focus {
    outline: 0 !important;
    background-color: #fff;
    background-clip: padding-box;
    border: 1px solid #ced4da;
}
.show > .btn-light.dropdown-toggle, .btn-light:not(:disabled):not(.disabled).active, 
.btn-light:not(:disabled):not(.disabled):active, .show > .btn-light.dropdown-toggle {
    background-color: #fff !important;
    border-color: #ced4da !important;
    outline: 0px !important;
}
.copyright a {
    font-weight: bold;
}
.table.dataTable td {
    padding: 0.30rem !important;
    vertical-align: middle;
}

.table.dataTable tbody tr:hover {
    background-color: #f0f3fa;
}
 