/*Common css Start*/
.bg-white {
    background-color: #f5f9ff !important;
}

.bg-gradient-primary {
    background-color: #1e2c68;
    background-image: linear-gradient(180deg, #1e2c68 10%, #4865b0 100%);
    background-size: cover;
}

a {
    color: #1e2c68;
}

.navbar {
    background-color: #fff !important;
    box-shadow: none !important;
    border-bottom: 1px solid #ddebff;
}

#wrapper #content-wrapper {
    background-color: #f5f9ff;
    width: 100%;
    overflow-x: hidden;
}

.sidebar-dark .nav-item.active .nav-link {
    color: #fff;
    background: rgba(0, 0, 0,0.2);
    font-weight: 500;
}

.sidebar-dark .nav-item:hover .nav-link {
    color: #fff;
    background: rgba(0, 0, 0,0.2);
    font-weight: 400;
}
.sidebar .collapse-item.active, .sidebar .nav-item .collapse .collapse-inner .collapse-item:hover, .sidebar .nav-item .collapsing .collapse-inner .collapse-item:hover {
    background-color: rgba(0, 0, 0,0.2);
    color: #fff !important;
}
.sidebar-dark .nav-item {
    border-bottom: 1px solid rgba(253, 253, 253,0.2);
}

/*.sidebar .nav-item .collapse .collapse-inner .collapse-item:hover, .sidebar .nav-item .collapsing .collapse-inner .collapse-item:hover {
    background-color: #f9fbff;
    color: #1b3b81!important;
}*/

.topbar #sidebarToggleTop {
    height: 2.5rem;
    width: 2.5rem;
    border-radius: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

#sidebarToggleTop span {
    color: #fff;
    font-size: 28px;
}

.topbar #sidebarToggleTop:hover {
    background-color: #f5f9ff;
    text-decoration: none;
}

    .topbar #sidebarToggleTop:hover span {
        text-decoration: none;
        color: #1b3b81;
    }

.btn.focus, .btn:focus {
    outline: 0;
    box-shadow: none
}

.card-title {
    color: #183c6d;
}

.card {
    border: 0px;
    box-shadow: 0px 1px 6px #d9d9d9;
    border-radius: 8px;
}

.page-item.active .page-link {
    background-color: #0eb6e7;
    border-color: #0eb6e7;
}

.page-link:hover {
    z-index: 2;
    color: #0eb6e7;
    text-decoration: none;
    background-color: #42cdf54a;
    border-color: #42cdf54a;
}
.page-link:focus {
    box-shadow: 0 0 0 0.2rem rgba(14, 182, 231 , 0.3);
}
.dropdown-item:focus, .dropdown-item:hover {
    background-color: #1e2c68;
}
/*Button*/
.btn-warning {
    background-color: #0eb6e7;
    border-color: #0eb6e7;
    color: #fff;
    min-width: 120px;
    padding: 10px 20px;
}

    .btn-warning:hover {
        border-color: #0eb6e7;
        color: #0eb6e7;
        background-color: transparent;
    }

    .btn-warning:focus, .btn-warning:not(:disabled):not(.disabled).active, .btn-warning:not(:disabled):not(.disabled):active, .show > .btn-warning.dropdown-toggle {
        color: #fff;
        background-color: #0eb6e7;
        border-color: #0eb6e7;
        box-shadow: 0 0 0 0.2rem rgba(14 ,182, 231, 0.3)!important;
    }

.btn-cancel {
    color: #0eb6e7;
    background-color: transparent;
    border-color: #0eb6e7;
    min-width: 120px;
    padding: 10px 20px;
}

    .btn-cancel:hover {
        border-color: #0eb6e7;
        color: #fff;
        background-color: #0eb6e7;
    }

    .btn-cancel:focus, .btn-cancel:not(:disabled):not(.disabled).active, .btn-cancel:not(:disabled):not(.disabled):active, .show > .btn-warning.dropdown-toggle {
        color: #fff;
        background-color: #0eb6e7;
        border-color: #0eb6e7;
        box-shadow: 0 0 0 0.2rem rgba(14,182, 231, 0.3)
    }

.btn-cart {
    background: #28a74533;
    padding: 0 8px;
    width: 33px;
    height: 33px;
    line-height: 33px;
}
/*Button end*/
@media (min-width: 768px) {
    .sidebar.toggled .nav-item .collapse .collapse-inner {
        background: #1e2c68;
    }
}
/*Common css End*/

/**Jquery datatable Loader*/
.loader {
    width: 48px;
    height: 48px;
    border-radius: 50%;
    position: relative;
    animation: rotate 1s linear infinite;
    margin: 0 auto;
    display: table;
}

    .loader::before, .loader::after {
        content: "";
        box-sizing: border-box;
        position: absolute;
        inset: 0px;
        border-radius: 50%;
        border: 4px solid #1e2c68;
        animation: prixClipFix 2s linear infinite;
    }

    .loader::after {
        border-color: #0eb6e7;
        animation: prixClipFix 2s linear infinite, rotate 0.5s linear infinite reverse;
        inset: 8px;
    }

@keyframes rotate {
    0% {
        transform: rotate(0deg)
    }

    100% {
        transform: rotate(360deg)
    }
}

@keyframes prixClipFix {
    0% {
        clip-path: polygon(50% 50%,0 0,0 0,0 0,0 0,0 0)
    }

    25% {
        clip-path: polygon(50% 50%,0 0,100% 0,100% 0,100% 0,100% 0)
    }

    50% {
        clip-path: polygon(50% 50%,0 0,100% 0,100% 100%,100% 100%,100% 100%)
    }

    75% {
        clip-path: polygon(50% 50%,0 0,100% 0,100% 100%,0 100%,0 100%)
    }

    100% {
        clip-path: polygon(50% 50%,0 0,100% 0,100% 100%,0 100%,0 0)
    }
}

.user-details-content {
    padding: 20px 30px;
    box-shadow: 0px 0px 2px 0.5px #ccc;
    background-color: #1e2c68;
    color: white;
    border-radius: 6px;
}

.thank-youcard h1.thank-you {
    background: linear-gradient(180deg, #1e2c68 10%, #4865b0 100%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    position: relative;
}

footer.sticky-footer {
    border-top: 1px solid #ddebff;
    background-color: #fff !important;
}

#sidebarToggleTop span {
    color: #1e2c68;
}

.topbar.navbar-light .navbar-nav .nav-item .nav-link, .topbar.navbar-light .navbar-nav .nav-item .nav-link:hover {
    color: #1e2c68 !important;
}
.NonPrintable h1 {
    color: #1e2c68;
}
.text-success {
    color: #28a745 !important;
}
.page-link {
    color: #0eb6e7;
}
.text-primary {
    color: #1f3370 !important;
}
.btn-outline-primary {
    color: #0eb6e7;
    border-color: #0eb6e7;
    background: transparent;
}

    .btn-outline-primary:hover {
        color: #fff;
        border-color: #0eb6e7;
        background: #0eb6e7;
    }

    .btn-outline-primary:focus, .btn-outline-primary:not(:disabled):not(.disabled).active, .btn-outline-primary:not(:disabled):not(.disabled):active, .show > .btn-outline-primary.dropdown-toggle {
        color: #fff;
        background-color: #0eb6e7;
        border-color: #0eb6e7;
        box-shadow: 0 0 0 0.2rem rgba(14,182, 231, 0.3) !important;
    }