<h5>
    Thank you for your booking for shipment of your personal effects. We will contact you during normal working hours to make all necessary arrangements. We look forward to being of service.
</h5>